* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

html, body {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto Slab', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-snap-type: y mandatory;
}

.slide {
  scroll-snap-align: start;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  overflow: hidden;
}

.slide-content {
  max-width: 800px;
  text-align: left;
  overflow: hidden;
  min-height: 400px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}

section:nth-child(even) {
  background-color: #f9f9f9;
}

section:nth-child(odd) {
  background-color: #ffffff;
}

.typing-dots {
  display: inline;
  position: relative;
  vertical-align: baseline;
}

.typing-dots::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  animation: typewriter-dots 1.2s steps(3, end) infinite;
}

@keyframes typewriter-dots {
  0% { content: "."; }
  33% { content: ".."; }
  66% { content: "..."; }
  100% { content: "."; }
}

.arrow {
  font-size: 3rem; 
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  position: relative;
  margin: 1em;
}

.nav-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.arrow.prev, .arrow.next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow.prev::before {
  content: "";   
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  width: 0;
  height: 0;
  transform: rotate(0deg);
}

.arrow.next::before {
  content: "";  
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 0;
  height: 0;
  transform: rotate(0deg);
}

.arrow.prev:hover::before {
  border-bottom-color: #007BFF;
}

.arrow.next:hover::before {
  border-top-color: #007BFF;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
}

.footer a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #0056b3;
}